<%= simple_form_for (@res_board) do |f| %>
  <% if @res_board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@res_board.errors.count, "error") %> prohibited this res_board from being saved:</h2>

      <ul>
      <% @res_board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :phoneNumber %><br>
    <%= f.number_field :phoneNumber %>
  </div>
  <div class="field">
    <%= f.label :contents %><br>
    <%= f.number_field :contents %>
  </div>
  <div class="field">
       <%= f.label :picture %><br>
      <%= f.input :picture, as: :file %>
      <%= f.hidden_field :picture_cache %>
  </div>
  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
