<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @res_board.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @res_board.address %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @res_board.phoneNumber %></br>
  <a href="tel:<%=@res_board.phoneNumber%>">전화걸기</a>
</p>

<div class='image'>
  <%= image_tag(@res_board.picture) %> <!--그림 표기-->
</div>

<%= render "comments/comments" %>

<%#= link_to 'Edit', edit_res_board_path(@res_board) %> 
<%#= link_to 'Back', res_boards_path %>
